@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;700;900&display=swap');
@import url('header.css');

* {
    box-sizing: border-box;
    object-fit: cover;
}

html, body {
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 10px;
    color: var(--main-text-color);

    --main-bg-color: #dcdae4;
    --second-bg-color: #ea4f3d;
    
    --main-text-color: #193264;
    --second-text-color: #fff;
    --highlight-text-color: #779cc1;
}

img {
    width: 100%;
}

.elementor-element {
    background-image: none !important;
}

[lang="vi"], [lang="vi"] * {
    font-family: 'BeVietnamPro', sans-serif !important;
}