.elementor-element.elementor-element-c93a0b2 .elementor-heading-title {
    line-height: 1.4em !important;
}

.elementor-element.elementor-element-efcd410 .wpr-wrapper .wpr-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8em;
}

.elementor-element.elementor-element-a0cfc0c:not(.elementor-motion-effects-element-type-background), .elementor-14083 .elementor-element.elementor-element-a0cfc0c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: url(..\resource\img\background.jpg) 50% 50% !important;
    background-size: cover;
}