.elementor-element.elementor-element-c93a0b2 .elementor-heading-title {
    line-height: 1.4em !important;
}

.elementor-element.elementor-element-efcd410 .wpr-wrapper .wpr-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8em;
}